@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	background-color: #3b3b3b;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: url("../../images/body.png") center center no-repeat;
	background-size: cover;
}

.glassmorphism {
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(6px);
	// border: 1px solid rgba( 255, 255, 255, 0.18 );
	border-radius: 20px;
}

.windows {
	height: 100vh;

	#refresh {
		cursor: pointer;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0) rotate(0deg);
		padding: 1em 1em;
		border-radius: 100%;
		border: none;
		background: rgba(255, 255, 255, 0.5);
		animation: rotateIn 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

		&.rotate {
			animation: rotate 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		}

		img {
			filter: invert(1);
			opacity: 0.7;
			vertical-align: middle;
		}
	}

	.window {
		user-select: none;
		position: absolute;
		display: block;
		transform: translate(0, 0);
		overflow: hidden;

		&[toggled="true"] {
			.top-bar .title {
				font-weight: 600;
			}
		}

		.top-bar {
			padding: 0.4em 0;
			background: rgba(255, 255, 255, 0.5);
			text-align: center;
			position: relative;
			cursor: grab;

			&:active {
				cursor: grabbing;
			}

			.action {
				width: 12px;
				height: 12px;
				content: "";
				border-radius: 100%;
				cursor: pointer;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				transition: background-color 0.5s
					cubic-bezier(0.075, 0.82, 0.165, 1);

				&.close {
					background-color: #ef665f;
					left: 1.2em;

					&:hover {
						background-color: #e26059;
					}
				}

				&.minimize {
					background-color: #f1be4c;
					left: 2.3em;

					&:hover {
						background-color: #e7b64b;
					}
				}

				&.maximize {
					background-color: #8ece7a;
					left: 3.5em;

					&:hover {
						background-color: #82c26f;
					}
				}
			}
			.title {
				font-weight: 400;
			}
		}

		.content {
			padding: 2em 3em 3em 3em;

			h2,
			h4 {
				color: #373737;
			}
			p {
				margin-top: 1.5em;
				color: #424449;
			}

			.logo {
				filter: invert(1);
			}

			.task {
				color: #373737;
				position: relative;
				cursor: pointer;
				display: block;
				width: fit-content;
				transition: opacity 1.4s cubic-bezier(0.075, 0.82, 0.165, 1);

				&[toggled="true"] {
					opacity: 0.5;

					&::before {
						background-color: #373737;
					}
					&::after {
						width: calc(100% - 2px);
					}
				}

				&:not(:first-of-type) {
					margin-top: 0.5em;
				}
				&:hover:not([toggled="true"]) {
					opacity: 0.8;
				}

				&::before {
					position: absolute;
					width: 12px;
					height: 12px;
					content: "";
					left: -22px;
					top: 50%;
					transform: translateY(-50%);
					border-radius: 100%;
					border: 1px solid #373737;
					transition: background-color 0.7s
						cubic-bezier(0.075, 0.82, 0.165, 1);
				}

				&::after {
					position: absolute;
					height: 1px;
					width: 0%;
					content: "";
					left: 0;
					top: 50%;
					transform: translate3d(2px, -50%, 0);
					border-radius: 100%;
					background: #373737;
					transition: width 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
				}
			}

			.projects {
				text-align: center;

				.project {
					display: inline-block;
					vertical-align: middle;

					a {
						text-decoration: none;
					}

					.image {
						background: url("../../images/projects/project.jpg")
							no-repeat center center;
						background-size: cover;
						height: 7em;
						width: 7em;
						border-radius: 20px;
						margin-top: 3.5em;
						transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
						cursor: pointer;
						transform-origin: center;
					}

					&[toggled="true"] .image {
						// height: 10em;
						width: 15em;
						transform: scaleY(1.3);
					}

					&[toggled="false"] .image {
						opacity: 0.7;
					}
					h4 {
						margin-top: 2em;
						display: inline-block;
					}
					p {
						margin-top: 0.3em;
						display: inline-block;
					}
				}
			}
		}
	}
}

.dash {
	position: fixed;
	left: 50%;
	bottom: 1.5em;
	transform: translate3D(-50%, 0, 0);
	height: 0.3em;
	width: 13%;
	overflow: hidden;
	transition: height 0.7s cubic-bezier(0.075, 0.82, 0.165, 1),
		width 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);

	&[toggled="true"] {
		height: 4em;
		width: 21%;
	}

	.icon {
		position: relative;
		top: 50%;
		transform: translate3d(30%, -50%, 0);
		border-radius: 10px;
		height: 3em;
		width: 3em;
		background: rgba(255, 255, 255, 0.25);
		content: "";
		cursor: pointer;
		display: inline-block;

		&:not(:last-of-type) {
			margin-right: 1.4em;
		}

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			height: 1.2em;
			opacity: 0.7;
			transform: translate3d(-50%, -50%, 0);
		}
	}
}

@keyframes rotateIn {
	from {
		opacity: 0;
		transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(0);
	}
	to {
		opacity: 1;
		transform: translate3d(-50%, -50%, 0) rotate(360deg) scale(1);
	}
}

@keyframes rotate {
	from {
		transform: translate3d(-50%, -50%, 0) rotate(-360deg);
	}
	to {
		transform: translate3d(-50%, -50%, 0) rotate(0deg);
	}
}
