@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #3b3b3b;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("../../images/body.png") center center no-repeat;
  background-size: cover;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 20px;
}

.window {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  display: block;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  overflow: hidden;
}

.window[toggled="true"] .top-bar .title {
  font-weight: 600;
}

.window .top-bar {
  padding: .4em 0;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  position: relative;
  cursor: -webkit-grab;
  cursor: grab;
}

.window .top-bar:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.window .top-bar .action {
  width: 12px;
  height: 12px;
  content: '';
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.window .top-bar .action.close {
  background-color: #EF665F;
  left: 1.2em;
}

.window .top-bar .action.close:hover {
  background-color: #e26059;
}

.window .top-bar .action.minimize {
  background-color: #F1BE4C;
  left: 2.3em;
}

.window .top-bar .action.minimize:hover {
  background-color: #e7b64b;
}

.window .top-bar .action.maximize {
  background-color: #8ECE7A;
  left: 3.5em;
}

.window .top-bar .action.maximize:hover {
  background-color: #82c26f;
}

.window .top-bar .title {
  font-weight: 400;
}

.window .content {
  padding: 2em 3em 3em 3em;
}

.window .content h2, .window .content h4 {
  color: #373737;
}

.window .content p {
  margin-top: 1.5em;
  color: #424449;
}

.window .content .logo {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.window .content .task {
  color: #373737;
  position: relative;
  cursor: pointer;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: opacity 1.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 1.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.window .content .task[toggled="true"] {
  opacity: .5;
}

.window .content .task[toggled="true"]::before {
  background-color: #373737;
}

.window .content .task[toggled="true"]::after {
  width: calc(100% - 2px);
}

.window .content .task:not(:first-of-type) {
  margin-top: .5em;
}

.window .content .task:hover:not([toggled="true"]) {
  opacity: .8;
}

.window .content .task::before {
  position: absolute;
  width: 12px;
  height: 12px;
  content: '';
  left: -22px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 100%;
  border: 1px solid #373737;
  -webkit-transition: background-color 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: background-color 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.window .content .task::after {
  position: absolute;
  height: 1px;
  width: 0%;
  content: '';
  left: 0;
  top: 50%;
  -webkit-transform: translate3d(2px, -50%, 0);
          transform: translate3d(2px, -50%, 0);
  border-radius: 100%;
  background: #373737;
  -webkit-transition: width 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: width 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.window .content .projects {
  text-align: center;
}

.window .content .projects .project {
  display: inline-block;
  vertical-align: middle;
}

.window .content .projects .project a {
  text-decoration: none;
}

.window .content .projects .project .image {
  background: url("../../images/projects/project.jpg") no-repeat center center;
  background-size: cover;
  height: 7em;
  width: 7em;
  border-radius: 20px;
  margin-top: 3.5em;
  -webkit-transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.window .content .projects .project[toggled="true"] .image {
  width: 15em;
  -webkit-transform: scaleY(1.3);
          transform: scaleY(1.3);
}

.window .content .projects .project[toggled="false"] .image {
  opacity: .7;
}

.window .content .projects .project h4 {
  margin-top: 2em;
  display: inline-block;
}

.window .content .projects .project p {
  margin-top: .3em;
  display: inline-block;
}

.bottom-bar {
  position: fixed;
  left: 50%;
  bottom: 1.5em;
  -webkit-transform: translate3D(-50%, 0, 0);
          transform: translate3D(-50%, 0, 0);
  height: .3em;
  width: 13%;
  overflow: hidden;
  -webkit-transition: height 0.7s cubic-bezier(0.075, 0.82, 0.165, 1), width 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: height 0.7s cubic-bezier(0.075, 0.82, 0.165, 1), width 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.bottom-bar[toggled="true"] {
  height: 4em;
  width: 21%;
}

.bottom-bar .icon {
  position: relative;
  top: 50%;
  -webkit-transform: translate3d(30%, -50%, 0);
          transform: translate3d(30%, -50%, 0);
  border-radius: 10px;
  height: 3em;
  width: 3em;
  background: rgba(255, 255, 255, 0.25);
  content: '';
  cursor: pointer;
  display: inline-block;
}

.bottom-bar .icon:not(:last-of-type) {
  margin-right: 1.4em;
}

.bottom-bar .icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1.2em;
  opacity: .7;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
/*# sourceMappingURL=style.css.map */